extends layout

block content
  h1= title
  p Welcome to #{title}
  p Using MERN Stack
  ul
    li GET /artist/{name}
    li GET /album/{name}
    li GET /song/{name}
    li PUT /song/{lyrics}
    li PUT /artist/{name}

