.App {
  text-align: center;
}

.App-logo {
  height: 7vw;
  width: 7vw;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #19bb4f;
  font-size: 4rem;
}

.App-text {
  color: #000000;
}