.dropdown-menu-wrapper {
    position: absolute;
    top: 0;

    width: 100%;
    padding-bottom: 8rem;
    overflow: hidden;
    border-radius: 0.25rem;

}

.dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    list-style: none;

    background-color: #000000;
    border: 0.05rem solid #19bb4f;
    border-radius: 0.25rem;
    // transform: translateY(-100%);
    // box-shadow: 0 0 10rem 1rem rgba(25, 187, 79, 0.35);

    transition-property: transform;
    transition-duration: 0.5s;

    .dropdown-menu__item {
        position: relative;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        height: 1.5rem;
        padding: 0 0.25rem;

        background-size: cover;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.7) 99%);
        }

        &:first-of-type {
            height: 2.5rem;
            padding-top: 1rem;
        }

        >a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        img {
            width: 1rem;
            height: 1rem;
            margin-right: 0.25rem;
        }

        h2 {
            position: relative;
            z-index: 5;

            font-size: 0.5rem;
            color: #ffffff;
            text-transform: uppercase;
            text-shadow: 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.7);

            border-bottom: 0.05rem solid #19bb4f;
        }

        &:not(:last-of-type) {
            background-position: 0 0;
            border-bottom: 0.05rem solid #19bb4f;
        }
    }
}