.navigation {
    position: relative;
    display: flex;
    width: 9rem;
    margin-top: 0.5rem;
    justify-content: flex-start;
    z-index: 2;
    // margin-bottom: 3.9rem;
    margin-bottom: 1.2rem;

    a {
        display: block;
        position: relative;
        z-index: 2;
        font-size: 0.5rem;
        line-height: 0.5rem;
        color: #ffffff;
        text-transform: uppercase;

        &:not(:last-of-type) {
            margin-right: 0.75rem;
        }

        padding-bottom: 0.1rem;
    }

    .navgiation__item--current {
        border-bottom: 0.035rem solid #19bb4f;
    }

}