.album {
    .songs {
        position: relative;
        z-index: 1;
        margin-top: 0.5rem;

        >h4 {
            position: relative;
            z-index: 2;
            width: 9rem;
            font-size: 0.35rem;
            line-height: 1rem;
            color: #ffffff;
            text-transform: uppercase;
        }

        .song {
            &:hover {
                >span {
                    opacity: 1;
                }
            }

            >span {
                position: absolute;
                width: 1.15rem;
                height: 1.15rem;
                line-height: 1.15rem;
                font-size: 0.5rem;
                color: #ffffff;
                text-align: center;

                left: 0.775rem;
                top: 0;
                background-color: rgba(0, 0, 0, 0.35);

                opacity: 0;
                transition-property: opacity;
                transition-duration: 0.15s;
            }

            &.song--playing {
                h3 {
                    transform: none;
                    opacity: 0;
                }
            }

            .song__info {
                // width: 8rem;
            }
        }
    }
}

.songs {
    margin-top: 1.75rem;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        list-style: none;
    }

    .song {
        position: relative;

        display: flex;
        align-items: center;
        width: 9rem;
        height: 1.15rem;

        &.song--playing {
            h3 {
                transform: translateY(-0.2rem);

                transition-duration: 0.15s;
                transition-property: transform;
            }

            h4 {
                transform: translateY(0.2rem);

                transition-duration: 0.15s;
                transition-property: transform;
            }

            >.song__info .song__progress-wrapper {
                opacity: 1;
            }
        }

        &:not(:last-of-type) {
            margin-bottom: 0.15rem;
        }

        img {
            display: block;
            width: 1.15rem;
            height: 1.15rem;
            margin-right: 0.2rem;
        }

        .song__info {
            position: relative;

            width: 100%;

            h3,
            h4 {
                color: #ffffff;

                transition-duration: 0.15s;
                transition-property: transform;
            }

            h3 {
                font-size: 0.35rem;
                line-height: 0.35rem;
            }

            h4 {
                font-size: 0.25rem;
                line-height: 0.35rem;
            }

            .song__progress-wrapper {
                position: absolute;
                top: calc(50% - 1px / 2);
                left: 0;

                width: 100%;

                opacity: 0;

                transition-duration: 0.15s;
                transition-property: opacity;

                .song__progress {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 2px;

                    background-color: #19bb4f;
                    border: none;

                    &::-webkit-progress-value {
                        background-color: #19bb4f;
                    }

                    &::-webkit-progress-bar {
                        background: #ffffff;
                    }
                }

                .song__control {
                    position: absolute;
                    top: calc(50% - 0.275rem / 2);
                    left: 0;
                    z-index: 100;

                    box-sizing: border-box;
                    width: 0.275rem;
                    height: 0.275rem;

                    background-color: #ffffff;
                    border: 0.0474rem solid #19bb4f;
                    border-radius: 50%;
                    box-shadow: 0 0 3px 1.5px rgba(25, 187, 79, 0.55);
                    cursor: pointer;
                }

                .song__time {
                    position: absolute;
                    top: -0.45rem;
                    right: 0;

                    font-size: 0.35rem;
                    line-height: 0.35rem;
                    color: #ffffff;
                }
            }
        }

        .song__play {
            width: 0.75rem;
            height: 0.75rem;
            margin-right: 0.2rem;
            padding: 0;

            background-color: transparent;
            border: none;
            cursor: pointer;

            -webkit-appearance: none;
        }
    }
}